
@{
    ViewBag.Title = "startsida";
}

<link href="C:\Users\Victor\source\repos\WebApplication1\WebApplication1\frontend.css" rel="stylesheet" type="text/css" />
<head>


    <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>

</head>
